body {
    font-size: 1.4rem;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    color: #6b105C;
    background-color: white;
}

header {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6b105C;
    margin: 0rem;
    padding: 0rem;
}


/* Menu */

/* Parte izquierda */

#izquierda_menu {
    display: flex;
    align-items: center;
}

#izquierda_menu img {
    height: 50px;
}

#izquierda_menu p {
    padding-left: 1.0rem;
    font-size: 2.0rem;
}

/* */

.menu nav ul li {
    position: relative; /*no sacar, hace que el sub menu Historia y Equipo este abajo de Quienes somos*/
    /* float: left; ESTE ERA EL PROBLEMA*/
    margin: 0;
    padding-right: 1.0rem;
}

.menu nav ul li:hover {
    background: #35022d;;
    color: azure;
}

.menu nav ul ul {
    display: none;
    position: absolute; /* importante */
    /* top: 100%; */
    left: 0; /*si sacas esto se va todo muy a la derecha por alguna razon*/
    background-color: #481a6d;
    /* width: 65%; */
}

.menu nav ul li:hover > ul {
    display: block;
}

.menu nav ul ul {   /*esto esta manejando lo del sub menu*/
    padding-left: 2.2rem;
    padding-right: 1.45rem;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 1.0rem;
}

.menu nav li {
    font-size: 1.0rem;
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    padding-left: 1.0rem;
}

.menu nav ul ul li a {
    display: block;
    text-align: center;
}

.menu nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

/**/

main h1 {
    text-align: center;
}


/* Footer */

footer div {
    font-size: 1.5rem;
}

body footer {
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Formulario, contacto */

.contenedor2 { /*del formulario, contacto*/
    width: 650px;
    height: 650px;
    background-color:seashell ;
    margin:100px auto;
    margin-top: 2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 1rem; 
    padding-right: 1rem; */
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.62);
}

.contenedor2 textarea { /*del formulario, contacto*/
    width: 100%;
    height: 50%;
}


/* Productos y servicios */

/* Es la parte mas oscura */

#productos {
    background-color:rgb(1, 101, 101) ; /* rgb(1, 101, 101) */
    /* margin:0px; no esta haciendo nada */
    margin-top: 2rem; /* Hace que se vea la parte clara de arriba */
    padding: 50px; /* Esto es lo que mide la distancia entre la caja color teal y la parte de arriba */
    display: grid;
    margin-bottom: 3rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
}